# Backend Development Environment Variables
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@db:5432/comunism_dev"

# Server Configuration
PORT=5122

# Add your other development-specific environment variables here
