Script(
    nome: "comunismo",
    descricao: "uma foice e um martelo dançando na sua tela, cortesia de c para o povo!",
    arquivo: "AQUIEHCOMUNISMO.c",
    compilar: Some(CompileStep(
        compilador: "cc",
        args: ["{arquivo}", "-o", "/tmp/comunismo-{output}"],
        output: "comunismo",
    )),
    executar: ExecuteStep(
        comando: "/tmp/comunismo-{output}",
        args: [],
    ),
)
