Script(
    nome: "gambalingo",
    descricao: "aprenda a escrever código em gamba",
    arquivo: "tutor.ga",
    compilar: None,
    executar: ExecuteStep(
        comando: "cargo",
        args: ["run", "-q", "-p", "gamba", "--", "{arquivo}"],
    ),
)
