Script(
    nome: "UploadToS3",
    descricao: "CLI for S3",
    arquivo: "SnorlaxS3",
    compilar: None,
    executar: ExecuteStep(
        comando: "dotnet",
        args: ["run", "--project", "SnorlaxS3"],
    ),
)