Script(
    nome: "UploadToS3",
    descricao: "CLI for S3",
    arquivo: "SnorlaxS3",  

    compilar: none,

    executar: ExecuteStep(
        comando: "dotnet",
        args: ["run"],
        working_dir: "../SnorlaxS3", 
    ),
)
