Script(
    nome: "Tabuada em Birl",
    descricao: "gerador de tabuada em BIRL (Bambam`s 'It`s show time' Recursive Language)",
    arquivo: "RODADOR-DE-BIRL.js",
    executar: ExecuteStep(
        comando: "node",
        args: ["RODADOR-DE-BIRL.js", "tabuada"],
    ),
)