Script(
    nome: "Tabuada em Birl",
    descricao: "gerador de tabuada em BIRL (Bambam`s 'It`s show time' Recursive Language)",
    arquivo: "tabuada-birl.js",
    executar: ExecuteStep(
        comando: "node",
        args: ["tabuada-birl.js", "tabuada"],
    ),
)